<section>
	<h2>Get in touch</h2>
	<form method="post" action="#">
		<div class="field half first">
			<input type="text" name="name" id="name" placeholder="Name">
		</div>
		<div class="field half">
			<input type="email" name="email" id="email" placeholder="Email">
		</div>
		<div class="field">
			<div class="textarea-wrapper"><textarea name="message" id="message" placeholder="Message" rows="1" style="overflow: hidden; resize: none; height: 59px;"></textarea></div>
		</div>
		<ul class="actions">
			<li><input type="submit" value="Send" class="special"></li>
		</ul>
	</form>
</section>
