.box-thumbnail-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: -2.5em 0 0 -2.5em;
  padding-top: 5%;

@media screen and (max-width: 1280px) {
    margin: -1.25em 0 0 -1.25em;
  }

@media screen and (max-width: 980px) {
    margin: -2.5em 0 0 -2.5em;
  }

@media screen and (max-width: 736px) {

    margin: -1.25em 0 0 -1.25em;
  }

@media screen and (max-width: 480px) {

    margin: 0;
  }

}
