<header>
  <h1 class="inner__content">
    {{ pageText.title }}
	    <a href= "{{ pageText.designer_link }}" > {{ pageText.designer }}</a>.
  </h1>
	<p class="inner__grid">
    {{ pageText.description }}
  </p>
</header>
